name: Terraform Plan

on:
  workflow_dispatch:
  pull_request:
    branches: 
      - main
permissions:
      id-token: write
      contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: Dev
    env:
      ARM_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      ARM_CLIENT_SECRET: ${{secrets.AZURE_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: ${{secrets.AZURE_SUB}}
      ARM_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}

    steps:
      - uses: actions/checkout@v2
      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init
        working-directory: 'terraform/'
      
      - name: Terraform Validate
        run: terraform validate
        working-directory: 'terraform/'

      - name: Terraform Format
        run: terraform fmt
        working-directory: 'terraform/'

      - name: Terraform Plan
        run: terraform plan -out "tf_plan" -input=false
        working-directory: 'terraform/'
        
